{% extends 'layouts/base.html' %}

{% block content %}
<h1>Edit idea</h1>
<div class="row">
    <form action="{{ url_for('update_idea', idea_id=idea._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="idea_title" name="idea_title" type="text" value="{{idea.idea_title}}" />
                    <label for="icon_prefix">Idea Name</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="idea_summary" id="idea_summary"
                    class="materialize-textarea">{{idea.idea_summary}}</textarea>
                <label for="icon_telephone">Task Description</label>
            </div>
        </div>


        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Update Idea
                <i class="material-icons right">playlist_add</i>
            </button>
            <a href="{{url_for('idea_details', idea_id=idea._id)}}" class="waves-effect waves-light btn">cancel</a>
        </div>
    </form>
</div>
{% endblock %}