{% extends 'layouts/base.html'%}
{% block head %}
<script src="https://kit.fontawesome.com/aca8a0f519.js" crossorigin="anonymous"></script>
{% endblock %}
{% block hero %}
<section class="hero-home">
    <h1>Great Ideas?</h1>
    <i class="far fa-lightbulb fa-8x hero-home__icon"></i>
    <h2>Is it <span class="bold">really</span> a great idea? Your opinion matters.</h2>
</section>
{% endblock %}
{% block content %}

<i class="material-icons material-icons-hero medium">thumbs_up_down</i>

<h5>Help to create better ideas. Vote on the ideas that you like.</h5>


<a href="{{url_for('ideas')}}" class="waves-effect waves-light hero-home__btn">let me help!</a>
{% endblock %}