p {
    color: pink;
}

.background {
    background-color: lightgrey;
}

.make-black .a {
    color: black;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.my-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 1025px) {

    .my-grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}