{% extends 'layouts/base.html'%} {% block content %}

<nav>
    <div class="nav-wrapper background">
        <div class="col s12">
            <a href="{{url_for('ideas')}}" class="breadcrumb">Ideas</a>
            <a class="breadcrumb">Search by {{searched_category}}</a>
        </div>
    </div>
</nav>

<h3 class="search-results">Search results</h3>
<h5 class="search-results__sub search-results">for category: <span class="bold">{{searched_category}}</span></h5>
<div class="my-grid">
    {% for idea in queried_category %}
    {% include 'components/idea_card.html' %}
    {% endfor %}
</div>

{% endblock %}