{% extends 'layouts/base.html' %}

{% block content %}
<h1>Add idea</h1>
<div class="row">
    <form action="{{ url_for('insert_idea') }}" method="POST" class="col s12">

        <!-- Set username -->
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="users" name="username" value="{{session["username"]}}" disabled selected />
                </div>
            </div>
        </div>

        <!-- Set idea name -->
        <div class=" row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="idea_title" name="idea_title" type="text" />
                    <label for="icon_prefix">Idea Name</label>
                </div>
            </div>
        </div>

        <!-- Set category -->
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Select a category for your idea</label>
                </div>
            </div>
        </div>

        <!-- Set short description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="idea_summary" id="idea_summary" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Idea Description</label>
            </div>
        </div>

        <!-- Set details -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="idea_details" id="idea_details" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Idea Details</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Add Idea
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>


{% endblock %}