<div class="card activator">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ url_for('file', filename=idea.image_name) }}">
    </div>
    <div class="card-content activator">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right"></i>

            <h5 class="activator">{{idea.idea_title}}</h5>

            <h6 class="activator">{{idea.category_name}}</h6>
            <h6 class="activator"><img class="responsive-img" src="/static/images/thumb_up-black-18dp.svg"
                    alt="thumb up">{{idea.total_votes}}
            </h6>
            <h6>Views: {{idea.views}}</h6>
        </span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{idea.idea_summary}}</p>
        <p><a href="{{url_for('idea_details', idea_id=idea._id)}}">view details</a></p>
    </div>
</div>