.container-about {

    margin-top: 2rem;
    margin: 0 auto;
    padding: 0 1rem;

    @include tablet {
        width: 70%;
    }

    @include laptop {

        max-width: 1280px;
        width: 40%;

        p {

            font-size: 1.2rem;
        
        }

        .first-p {

            margin-top: 2rem;
        }

        .last-p {

            margin-bottom: 4rem;
        }

    }

}

