.edit-idea {
    display: grid;

    &__cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3rem;
        padding-bottom: 3rem;
        column-gap: 2rem;;
    }
}

.input-field {
    margin-top: 3rem;
}