.edit-idea, .add-idea {
    display: grid;

    &__cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3rem;
        padding-bottom: 3rem;
        column-gap: 2rem;;
    }

    &__add-image {
        .input-field label {
            position: relative;
            top: -12px;
        }
    }
}

.input-field {
    margin-top: 3rem;
}

