.admin-title {
    text-align: center;
    padding-top: 1rem;
}

.column-1, .column-2 {

    &__row {
        
        display: grid;
        grid-template-columns: 70% 1fr 1fr;

        &--item-1 {
            grid-column: 1;
        }

        &--item-2 {
            grid-column: 2;
        }

        &--item-3 {
            grid-column: 3;
        }

        &--btn-row {
            display: grid;

            &-btn {
                margin: 1rem 0 2rem 0;
                justify-self: center;
                width: 50%;
            }
        }
    }
}