html, body {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
}

h1 {
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}

header {
    margin-bottom: 5rem;
}

.h3-heading {
    text-align: center;
    padding-top: 1rem;
}

.container {
    margin-top: 2rem;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}


.my-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    // grid-gap: 1rem;
}

.my-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
}


.divider {
    margin: 1rem 0 1rem 0;

    &__bottom-margin {
        margin: 2rem 0 1rem 0;
    }
}


@media screen and (min-width: 1025px) {

    .my-grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}

.btn {
    background-color: $mainPink;
}

.btn-secundary {
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    background-color: $mainBlue;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    color: black;
    font-weight: 600;
    text-align: center;

    &:focus {
        background-color: $secBlue;
    }
    
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: $darkPink;
}

.set-width__200px {
    width: 200px;
}

.margin-top {
    margin-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.bold {
    color: $mainPink;
    font-weight: 700;
  }

// Forms
.input-field label {
    color: $darkGrey;
    font-size: 0.8rem;
}

textarea.materialize-textarea:focus:not([readonly])+label {
    color: $mainPink;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $mainPink;
    box-shadow: 0 1px 0 0 $mainPink;
}

.select-wrapper .caret {
    fill: $mainPink;
}

.dropdown-content li>span {
    color: $mainPink;
}


