h1 {
    text-align: center;
    margin: 1.5rem 0 1rem 0;

}

header {
    margin-bottom: 5rem;
}

.hero {
    background-color: $mainBlue;

    h1 {
        padding-top: 2.5rem;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 28px;
        line-height: 40px;
    }
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}


.my-grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    // grid-gap: 1rem;
}

.my-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
}


.divider {
    margin: 1rem 0 1rem 0;

    &__bottom-margin {
        margin: 2rem 0 1rem 0;
    }
}


@media screen and (min-width: 1025px) {

    .my-grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}

.btn {
    background-color: $mainPink;
}

.set-width__200px {
    width: 200px;
}

.margin-top {
    margin-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.bold {
    color: $mainPink;
    font-weight: 700;
  }