.alert-box {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 72px;
    background-color: $mainPink;
    color: white;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    &__alert {
        grid-column: 2;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

}