.hero-home {

    background-color: $mainBlue;

    h1 {
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        font-weight: 500;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 0 1rem 3rem 1rem;
    }

    

    &__icon {
        color: $mainPink;
        display: block;
        margin: 0 auto;
    }

    &__btn {
        background-color: $mainPink;
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        margin: 2rem auto 2rem auto;
        border: none;
        border-radius: 4px;
        display: block;
        padding: 0.75rem 1.5rem;
        max-width: 121px;
        text-align: center;
        text-transform: uppercase;
    }
}

h5 {
        text-align: center;
        line-height: 2rem;
        padding: 0 1rem 1rem 1rem;
    }

.material-icons-hero {
    color: $mainPink;
    display: block;
    margin: 2rem auto;
    text-align: center;
    
}

.hero-ideas {
    background-color: $mainBlue;
    padding-bottom: 1rem;

    &__heading {
        font-weight: 600;
        text-align: center;
        padding-top: 1rem;
        
    }

    &__grid {
        display: grid;
    }

    .card {
        width: 90%;
        margin: 0 auto;
        color: black;

        @include tablet {
            width: 35%;
        }

        @include laptop {
            width: 25%;
        }

        .card-title {
            font-weight: 600;
            color: black;
            text-align: center;
            width: 100%;
            background-color: rgba(255, 255, 255, .7);
            padding: 0.3rem;
        }
    }

    &__cta-bar {
        background-color: $mainBlue;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        padding-bottom: 1rem;
    
        &--text {
            text-align: center;  
            padding: 1rem;
            margin-top: 0;    
        }
    
        &--btn {
            display: block;
            margin: 0 auto;
            width: 100px;
        }
    }
}