
.card {

    font-size: 0.8rem;

}

.card-content-title {

    text-align: center;

}

// Front side
.grid-wrapper {

    display: grid;
    grid-template-columns: 25% repeat(4, 1fr) 25%;

}

.card-grid-front {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.6rem;
    font-size: 1.5rem;
    align-items: center;

    &__fr1 {
        justify-self: end;
        align-self: center;
    }

    &__fr3 {
        justify-self: end;
        align-self: center; 
    }

    &__fr4 {
        justify-self: start;
    }

    &__row2--left {
        grid-column: 1 / 3;
        justify-self: center;
        font-size: 1rem;
    }

    &__row2--right {
        grid-column: 3/5;
        justify-self: center;
        font-size: 1rem;
    }
}


// Back side
.card-reveal-grid {
    display: grid;

    &__row1 {
        justify-self: end;
    }

    &__row3 {
        justify-self: center;
    }

    &__row5 {
        justify-self: center;
    }

    &__row6 {
        justify-self: center;

        .input-field {
            margin-top: 0;
        }

        &--item {
            background-color: $secBlue;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            border: none;
        }
    }

    &__row7 {
        text-align: center;
        padding-bottom: 1rem;
    }

    &__row8 {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;

        .input-field {
            margin: 0;   
        }
        
        &--tag {

            display: inline-block;
            height: 2rem;
            line-height: 2rem;
            background-color: $tagcolor;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            border: none;
            width: 100%;
        }
    }

    &__row9 {
        display: grid;
        padding-top: 2rem;
        font-size: 1rem;
        justify-self: center;

        &--item {
            justify-self: center;
        }
    }
}