
.card {
    font-size: 0.8rem;
}

.card-content-title {
    text-align: center;
}

// Front side
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.6rem;

    &__fr1 {
        justify-self: end;
        align-self: center;
    }

    &__fr3 {
        justify-self: end;
        align-self: center; 
    }

    &__fr4 {
        justify-self: start;
    }

    &__row2--left {
        grid-column: 1 / 3;
        justify-self: center;
        font-size: 1rem;
    }

    &__row2--right {
        grid-column: 3/5;
        justify-self: center;
        font-size: 1rem;
    }
}

// Back side
.card-reveal-grid {
    display: grid;

    &__row1 {
        justify-self: end;
    }

    &__row3 {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 10% repeat(4, 1fr) 10%;

        &--item {
            grid-column: 3 / 5;
        }
    }

    &__row4 {
        justify-self: center;
    }

    &__row6 {
        justify-self: center;
    }

    &__row7 {
        justify-self: center;

        &--item {
            background-color: #26a69a;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 1rem;
        }
    }

    &__row8 {
        text-align: center;
    }

    &__row9 {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        
        &--tag {

            display: inline-block;
            height: 2rem;
            line-height: 2rem;
            background-color: #ee6e73;
            color: white;
        }

    }
}