.container-idea-details {
    
    margin-top: 2rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;

    @include laptop {
        
        width: 40%;

    }

    @include l_laptop {
        
        width: 30%;
    }  
}

.idea-details {

    h1 {

        font-size: 2.5rem;
        margin: 1rem 0 2rem 0;

        @include tablet {

            font-size: 3rem;
        }
    }
    
    &__edit-idea {

        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        &--item {

            justify-self: center;

            &--left {

                justify-self: right;
            }

            &--right {

                justify-self: left;
            }
        }

        &--delete {

            grid-row: 2;
            grid-column: 1/3;
            justify-self: center;
        }
    }

    &__cta {

        display: grid;
        padding: 1rem 0;

        &--btn {

            justify-self: center;
            border: none;
        }
    }

    &__votes {

        grid-column: 2/6;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0.6rem;
        font-size: 1.5rem;
        line-height: 1.5rem;

        &__fr1 {

            justify-self: end;
            align-self: center;
        }
    
        &__fr3 {

            justify-self: end;
            align-self: center; 
        }
    
        &__fr4 {

            justify-self: start;
        }
    
        &__row2--left {

            grid-column: 1 / 3;
            justify-self: center;
            font-size: 1rem;
        }
    
        &__row2--right {

            grid-column: 3/5;
            justify-self: center;
            font-size: 1rem;
        }

    }

    &__wrapper .input-field {

        margin: 0;
    }
    
    &__category {

        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 0.5rem;

        &--title {

            text-align: center;
            grid-row: 1;
            grid-column: 2;
        }

        &--item {

            grid-row: 2;
            grid-column: 2;
            background-color: $secBlue;
            color: white;
            text-align: center;
            padding: 0.5rem;
            line-height: 2rem;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            border: none;
        }
    }

    &__tags {

        display: grid;
        row-gap: 1rem;
        
        &--title {

            text-align: center;
            grid-row: 1;
        }

        &--row2 {

            grid-row: 2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1rem;

            .input-field {

                margin: 0;   
            }

            &--item {

                justify-self: center;
                background-color: $tagcolor;
                display: inline-block;
                line-height: 2rem;
                padding: 0.5rem;
                width: 90%;
                text-align: center;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                border: none;
                width: 100%;
            }
        }
    }
    

    &__secundary {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        line-height: 0.3rem;
        padding-bottom: 2rem;
    }
}

.image-container__detail {

    height: 300px;
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.sharethis {

    text-align: center;
    padding-bottom: 0.5rem;
}

#modal1, #modal2 {

    @include tablet {

        width: 50%;
    }

    @include laptop {
        
        width: 20%;
    }
}

#modal2 {

    @include laptop {
        
        .modal-content {

            text-align: center;
        }
    }
}