.edit-idea {
    margin-top: 1rem;
}

.idea-details h1 {
    font-size: 3rem;
    margin: 1rem 0 2rem 0;
}

.image-container__detail {
    height: 300px;
    width: 100%;
    max-width: 800px;
    object-fit: cover;

}