
// Offset Materialize styling
nav {

    box-shadow: none;
    height: auto;
    background-color: $mainBlue;
}

.secundary-nav {

    padding-top: .1rem;

}

// Default nav = mobile
.primary-nav {

    padding-top: 5rem;
    
    ul {

        list-style: none;
        text-align: center;
        padding: 0;

        li {

            float: none; //Offset Materialize styling
        }

        a {

            text-decoration: none;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: black;
            font-weight: 700;
            letter-spacing: 0.1rem;
        }
    }
}

.site-nav {

    top: 0;
    border-top: 2px solid $mainPink;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    @include laptop {

        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        grid-template-rows: 1fr;
    }

    @include l_laptop {

        grid-template-columns: 15% 1fr 1fr 1fr 15%;
        grid-template-rows: 1fr;
    }
    
    a {

        grid-column: 2;
        grid-row: 1;

        @include laptop {

            grid-column: 3;
        
        }
        
        .logo {

            height: 55px;
            margin: 0.5rem auto;
            display: block;
        }
    } 

    &__menu-icon {

        width: 20px;
        height: 19px;
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 3;

        @include laptop {
        
            display: none;
    
        }

        &::before {

            content: "";    
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainPink;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {

            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainPink;
            transition: opacity .3s ease-out;
        }

        &::after {

            content: "";  
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $mainPink;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
    }

    &__menu-icon--close-x {

        &::before {

            transform: rotate(45deg) scaleX(1.25);
        }
    
        .site-nav__menu-icon__middle {

            opacity: 0;
        }
    
        &::after {

            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__overlay {

        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $mainBlue;
        overflow-y: hidden;
        transition: 0.5s;
        border-top: 2px solid $mainPink;
        border-bottom: 10px solid $mainPink;
        display: none;

        &--is-visible {

            display: block;
        }  
    }

      &__overlay-content {

        position: relative;
        width: 100%;
        text-align: center;

        p {

            margin-top: 3rem;
        }

        h5 {

            font-size: 1.5rem;
            line-height: normal;
            padding: 0;
            margin: 0;
        }
      }
      
      &__overlay a {
        
        text-decoration: none;
        font-size: 1rem;
      }
      
      &__overlay a:hover, .overlay a:focus {

        color: $mainPink;
      }
}


.desktop-nav {

    display: none;

    ul li {

        color: $mainPink;
    }

    ul li a {

        color: $mainPink;
    }

    @include laptop {
        
        display: initial;
        background-color: white;

        &__left {
            
            grid-column: 2;
        }

        &__middle {
            
            grid-column: 3;
        }

        &__right {

            grid-column: 4;
            display: grid;
            justify-items: right;   
        }

    }
}


