.chip {
    color: white;
    max-width: 125px;
    width: 90%;
    text-align: center;
    justify-self: center;
    padding: 0 0.5rem;
    border-radius: 0;
    font-weight: initial;

    &__category {
        background-color: $secBlue;
    }

    &__tag {
        background-color: $tagcolor;
        color: black;
    }

}

.card-tags {
    display: grid;
}