.content-section {
    margin-top: 8rem;

    &__btn {
        margin: 2rem auto 1rem auto;
        display: block;
    }
    
}

.center {

    text-align: center;

}

// Account :required.
.account-required {
    display: grid;

    .btn {
        max-width: 250px;
        justify-self: center;
    }
}

